body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Navigation bar */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* Portfolio */

.portfolio-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  /*grid-template-columns: 1fr 1fr 1fr; only for grids*/
}

.portfolio-item-wrapper {
  
  flex: 0 1 500px;  /* 500 for most cellphones to fit one per row*/
  flex: 1 1 500px;
  border: 1px solid red;
  background: lightpink;
  font-size: 22px;
  text-align: center;
  position: relative;
  display: grid;
  place-items: center;
}


.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
  font-weight: 600;
}

.image-blur {
  transition: 1s;
  filter: brightness(20%);
}

.img-text-wrapper:hover .subtitle {
  color: lightseagreen;
  font-weight: 600;
}

/* Logos */

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.logo-wrapper i.fab.fa-python{
    font-size:90px;
    width: 100%;
    margin-bottom: 20px;
    /*color: rgb(59, 91, 152);*/
    color: white;
    opacity: 0.8;
}

.logo-wrapper i.fas.fa-heartbeat {
  font-size:90px;
  width: 100%;
  margin-bottom: 20px;
  color: rgb(105,105,105);
  opacity: 0.8;
}

/*Swift RGB: rgb(253,148,38)*/

.logo-wrapper i.fab.fa-swift {
  font-size:90px;
  width: 100%;
  margin-bottom: 20px;
  color:white;
  opacity: 0.8;
}


.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}


/* Contact me bar */

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side-contact-me {
  display: flex;
}

.contact-wrapper > .left-side-contact-me > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.contact-me-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-contact-me-link {
  border-bottom: 1px solid black;
}

.active-contact-me-link a{
  color: black !important;
}

.contact-me-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.contact-me-wrapper:hover {
  border-bottom: 1px solid black;
}

.contact-me-wrapper a:hover {
  color: black;
}